[Desktop Entry]
Type=Application
Version=1.0
GenericName=Windows USB Installer
Name=Windows USB Installer
Comment=Create a Windows 10 USB Installer
Exec=deepin-terminal deepines-win-usb-installer
Icon=deepines-win-usb-installer
Terminal=false
Categories=System;
StartupNotify=false
X-GNOME-Autostart-Delay=60
Name[zh_CN]=Windows USB安装程序
Name[zh_TW]=Windows USB安装程序
Name[en]=Windows USB Installer
Name[es]=Instalador USB de Windows
Name[fr]=Installateur USB de Windows
Name[it]=Installatore USB di Windows
Name[pt]=Instalador USB do Windows
Name[pt_BR]=Instalador USB do Windows
Name[sr]=Инсталлер USB од Windows
Name[ru]=Установщик USB из Windows
Name[tr]=Windows USB Yükleyici
Comment[zh_CN]=创建Windows 10 USB安装程序
Comment[zh_TW]=创建Windows 10 USB安装程序
Comment[en]=Create a Windows 10 USB Installer
Comment[es]=Crea un instalador USB de Windows 10
Comment[fr]=Créer un programme d'installation USB Windows 10
Comment[it]=Crea un programma di installazione USB per Windows 10
Comment[pt]=Crie um instalador USB do Windows 10
Comment[pt_BR]=Crie um instalador USB do Windows 10
Comment[sr]=Направите Виндовс 10 УСБ Инсталлер
Comment[ru]=Создайте установщик Windows 10 USB
Comment[tr]=Windows 10 USB Yükleyici Oluşturun
